*~
*.d
*.o
*.a
*.la
*.lo
*.pc
*.so
*.so.*
*.map
*.html
.deps
.libs
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
watchdogd
