#!/usr/bin/make -f
# export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with=systemd

override_dh_auto_configure:
	dh_auto_configure -- --with-filenr --with-loadavg --with-meminfo --with-generic

override_dh_auto_install:
	dh_auto_install
	find debian/ -name LICENSE -delete
